body {
    background: url('images/background.png');
    margin: auto;
}

#header {
    background-color: white;
    height: 100px;
    margin: 0;
    padding-left: 100px;
    border-top: 10px solid white;
    position: relative;
    top: 0;
    width: 100%;
}

.links {
    color: #A9A9A9;
    float: right;
    padding-right: 200px;
    padding-top: 30px;
    width: 460px;
}

h1 {
    background-color: teal;
    font-family: serif;
    font-size: 32px;
    color: white;
    padding-top: 23px;
    padding-bottom: 33px;
    text-align: center;
    width: 180px;
    height: 33px;
    position: fixed;
    top: 0;
}


/**#sidebar {
    color: #A9A9A9;
    position: relative;
    background: white;
    margin: 0;
    height: 70px;
    width: 21%;
    float: left;
    text-align: left;
    padding-top: 30px;
}**/

.box1 {
    position: relative;
    background: #ffffff;
    float: left;
    width: 600px;
    height: 400px;
    margin: 100px;
    margin-top: 30px;
    border: 2px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
}

h2 {
    color: teal;
    font-family: 'Cantata One', serif;
    font-size: 25px;
}

h3 {
    color: teal;
    font-family: 'Cantata One', serif;
    font-size: 20px;
}

#box2 {
    background: white;
    float: left;
    width: 275px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
}

hr {
    margin: 20px 0;
    border: 1px solid #D1D0CE;
}

#profileimg {
    height: 160px;
    width: 180px;
    margin: 0 10px 10px 0;
    float: left;
}

p {
    letter-spacing: 0.1em;
    font-family: 'IM Fell English', serif;
    margin: 0;
    padding: 0;
}

footer {
    border-top: 10px solid teal;
    color: white;
    height: 60px;
    padding-top: 50px;
    background: grey;
    text-align: center;
    clear: both;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.contact {
    position: relative;
    background: #ffffff;
    float: left;
    width: 600px;
    height: 480px;
    margin: 100px;
    margin-top: 30px;
    border: 2px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
}

label {
    display: block;
    margin-top: 2px;
    font-style: oblique;
    font-weight: bold;
}

input {
    width: 590px;
    height: 30px;
    margin-bottom: 4px;

}

textarea {
    width: 590px;
    height: 150px;
}

button {
    width: 150px;
    height: 38px;
    color: white;
    font-size: 16px;
    background: teal;
}

