body {
    background: url('images/background.png');
    margin: 0;
}

#header {
    background-color: white;
    width: 100%;
    height: 100px;
    margin: 0;
    margin-top: 0;
    padding-left: 100px;
    border-top: 10px solid white;
}

.links {
    color: #A9A9A9;
    float: right;
    padding-right: 400px;
    padding-top: 30px;
}

h1 {
    position: relative;
    background-color: teal;
    font-family: serif;
    color: white;
    padding-top: 23px;
    padding-bottom: 33px;
    text-align: center;
    width: 15%;
    height: 23px;
}


/**#sidebar {
    color: #A9A9A9;
    position: relative;
    background: white;
    margin: 0;
    height: 70px;
    width: 21%;
    float: left;
    text-align: left;
    padding-top: 30px;
}**/

.box1 {
    position: relative;
    background: #ffffff;
    float: left;
    width: 40%;
    height: 400px;
    margin: 100px;
    margin-top: 30px;
    border: 2px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 20px;
}

h2 {
    color: teal;
    font-family: 'Cantata One', serif;
    font-size: 25px;
}

h3 {
    color: teal;
    font-family: 'Cantata One', serif;
    font-size: 20px;
}

#box2 {
    position: relative;
    background: white;
    float: left;
    width: 18%;
    margin: 20px;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
}

hr {
    margin: 20px 0;
    border: 1px solid #D1D0CE;
}

#profileimg {
    height: 160px;
    width: 180px;
    margin: 0 10px 10px 0;
    float: left;
}

p {
    letter-spacing: 0.1em;
    font-family: 'IM Fell English', serif;
    margin: 0;
    padding: 0;
}

footer {
    clear: both;
    border-top: 10px solid teal;
    width: 100%;
    color: white;
    height: 90px;
    padding-top: 50px;
    background: grey;
    text-align: center;
}
